*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}


li {
    margin: 0 2rem;
    cursor: pointer;
}



.imgLogo {
    width: 5rem;
}





header{
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 1rem;
    margin-bottom: 1rem;
    gap: 5px;
    background: linear-gradient(to left, #0d495da5, #2fbbf37d, #4bd7f07d);
    box-shadow: 7px 10px 10px black;
}

.navBar-nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    cursor: pointer;
    gap: 1rem;
}

.bi{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}