* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    border-bottom: 1px solid black;
    padding: 1rem;
    background: linear-gradient(to left, #0d495da5, #2fbbf37d, #4bd7f07d);
}

.card-header img {
    width: 5rem;
    cursor: pointer;
}


.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
}